.App {
  text-align: center;
  }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginForm{
  align-content: center;
  align-items: center; 
  justify-content: space-around;
  font-family: 'Butterfly Kids', cursive;
  margin: 5% auto; 
  width: 500px;
  background-color: rgb(93, 129, 93);
  padding: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.loginButton{
  width: 100px;
 height: 30px;
 background-color: orange;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 margin: 20px auto 0px auto;
 text-align: center;
 cursor: pointer;
 clear: both;
 font-weight: normal;
 font-size: 20px;
 font-family: "Impact";
 line-height: 25px;
 text-decoration: none;
 color: white;
}

img{
  margin: 20px auto;
  width: 25%;
}
